body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/fron.jpeg");
    background-color: #2b2b2b;
    color: rgba(14, 1, 14, 1);
}

h1, h2, h3, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #cecdcd;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ebebeb;
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ebebeb;
}

footer {
    background-image: linear-gradient(rgba(14, 1, 14, .2), rgba(14, 1, 14, .4), rgba(14, 1, 14, .6));
    padding: 20px 0;
}

.footertwo {
    background-color: rgba(14, 1, 14, 0.712);
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient( rgba(43, 43, 43, .5),  rgba(76, 76, 77, .4),rgba(235, 235, 235, .2));
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #ebebeb;
}

.customtheme {
    border-color:#ebebeb;
}

.softbox {
    border-radius: 46px;
    background: #ebebeb;
    box-shadow:  -40px 40px 80px #c5c5c5, 40px -40px 80px #ffffff;
}

.softboxtwo {
    border-radius: 46px;
    background: rgba(218, 157, 110, .5);
    box-shadow:  -24px 24px 48px rgba(170, 122, 86) -24px -24px 48px, rgba(255, 192, 134);
}

.handwriting {
    font-family: 'Rock Salt', cursive;
}

.bviolet {
    background-image: url(../images/fron.jpeg);
    background-blend-mode: lighten;
    background-color:rgba(14, 1, 14, 1);
    color: #65655E;
}

.bviolettwo {
    background-image: url(../images/fron.jpeg);
    background-blend-mode: darken;
    background-color:rgba(14, 1, 14, 1);
    color: #655e60;
}

.angry {
    color: #CA1551;
}

.irked {
    color: #FB4D3D;
}

.indiffrent {
    color: #EAC435;
}

.cool {
    color: #03CEA4;
}

.love {
    color: #7FDEFF;
}

.btn-outline {
    color: #EAC435;
    background-color: rgba(0,0,0,0);
    border-color: #EAC435;
    /* font-weight: bold; */
    letter-spacing: 0.05em;
}

/* .btn-outline {
    color: #EAC435;
    background-color: #ffffff;
    border-color: #EAC435;
    font-weight: bold;
    border-radius: 0;
} */

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
    background: #EAC435;
    color: #ffffff;
    border-color: #EAC435;
    
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "",
    background-color: rgba(0,0,0,0)
}



html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: rgba(14, 1, 14, 1) !important;
}

.navbar:not(.top-nav-collapse) {
    background: rgba(14, 1, 14, .2) !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: rgba(14, 1, 14, 1) !important;
    }
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}