body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/fron.jpeg");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-color: #2b2b2b;
  color: #0e010e; }

h1, h2, h3, h6 {
  font-family: 'Montserrat', sans-serif; }

h2 {
  color: #cecdcd; }

header h1 {
  font-family: 'Montserrat', sans-serif;
  color: #cecdcd; }

header h2 {
  font-family: 'Montserrat', sans-serif;
  color: #cecdcd; }

footer {
  background-image: linear-gradient(rgba(14, 1, 14, 0.2), rgba(14, 1, 14, 0.4), rgba(14, 1, 14, 0.6));
  padding: 20px 0; }

.footertwo {
  background-color: rgba(14, 1, 14, 0.712); }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(rgba(43, 43, 43, 0.5), rgba(76, 76, 77, 0.4), rgba(235, 235, 235, 0.2));
  color: #cecdcd; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #cecdcd; }

.customtheme {
  border-color: #cecdcd; }

.softbox {
  border-radius: 46px;
  background: #ebebeb;
  box-shadow: -40px 40px 80px #c5c5c5, 40px -40px 80px #cecdcd; }

.handwriting {
  font-family: 'Rock Salt', cursive; }

.bviolet {
  background-image: url(../images/fron.jpeg);
  background-blend-mode: hard-light;
  background-color: #0e010e;
  color: #65655E; }

.bviolettwo {
  background-image: url(../images/fron.jpeg);
  background-blend-mode: darken;
  background-color: #0e010e;
  color: #655e60; }

.bvioletthree {
  background-color: rgba(39, 7, 39, 0.5);
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #c5c5c5; }

.angry {
  color: #663366; }

.irked {
  color: #993366; }

.indiffrent {
  color: #a7526e; }

.cool {
  color: #f8a276; }

.love {
  color: #cecdcd; }

.circleimg {
  border-radius: 50%; }

.softboxthree {
  border-radius: 46px;
  background: rgba(39, 7, 39, 0.5);
  box-shadow: -20px 20px 40px rgba(70, 31, 70, 0.9), 20px -20px 40px rgba(14, 1, 14, 0.712); }

.dawn {
  color: #cecdcd; }

.colordawn {
  background-color: rgba(39, 7, 39, 0.5);
  color: #cecdcd;
  font-family: 'Montserrat', sans-serif; }

.colordawn:hover {
  background: #cecdcd;
  color: #270727;
  background-color: #cecdcd;
  border-color: #cecdcd; }

.dawnbtn {
  background: #cecdcd;
  color: #270727;
  background-color: #cecdcd;
  border-color: #cecdcd;
  font-family: 'Montserrat', sans-serif; }

.dawnbtn:disabled,
.dawnbtn[disabled] {
  background: #cecdcd;
  color: #270727;
  background-color: #cecdcd;
  border-color: #cecdcd; }

.btn-outline {
  color: #f8a276;
  background-color: rgba(0, 0, 0, 0);
  border-color: #f8a276;
  /* font-weight: bold; */
  letter-spacing: 0.05em; }

/* .btn-outline {
    color: #EAC435;
    background-color: $color-light;
    border-color: #EAC435;
    font-weight: bold;
    border-radius: 0;
} */
.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  background: #f8a276;
  color: #2b2b2b;
  border-color: #f8a276; }

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: #0e010e; }

html,
body,
header,
.view {
  height: 100%; }

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh; } }

.top-nav-collapse {
  background-color: #0e010e !important; }

.navbar:not(.top-nav-collapse) {
  background: rgba(14, 1, 14, 0.2) !important; }

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #0e010e !important; } }

h1 {
  letter-spacing: 8px; }

h5 {
  letter-spacing: 3px; }

.hr-light {
  border-top: 3px solid #fff;
  width: 80px; }
